.venti-title-div{
    text-align: center;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0;
}

.venti-pic-div{
    display: block; 
    align-items: center;
    padding: 0;
}

.venti-pic{
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    align-self: center;
    padding-bottom: 4%;
}

.youtube{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

.venti-header{
    align-items: center;
    text-align: left;
    color: white;
    font-size: 28px;
}

.venti-text{
    padding-top: 3%;
    color: white;
    text-align: left;
    align-items: left;
    font-size: 20px;
    
}

.bold{
    color: #37474f;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.info-venti{
    font-size: 20px;
    padding: 4%;
    color: white;
    align-items: center;
    text-align: center;
}

.info-div-venti{
    padding: 4%;
    align-items: center;
    text-align: center;
}