*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    background-color: #e06666;
}

html{
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    height: 100%;

}



/* NAVBAR CODE */


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #e06666;
    color: white;
    font-family: 'Work Sans', sans-serif;
    z-index: 2;
    position: relative;
}


.logo{
    margin: 3%;
}

.icon-pic{
    width: 60%;
    padding-top: 5%;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
    background-color: #e06666;
    z-index: 3;
    overflow-x: hidden;
    position: relative;
}
.nav-links li{
    list-style: none;
    background-color: #e06666;
    transition: all 0.3s ease;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    cursor: pointer;
    border-bottom: 3px solid white;
  }
  
  .nav-links a:active {
    border-bottom: 3px solid white;
  }
.burger{
    display: none;
    cursor: pointer;
    background-color: #e06666;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .nav-links{
            width: 60%;
    }
}

@media screen and (max-width:950px){
    body{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        background-color: #e06666;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;         /* how to edit the size of the navbar */
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        overflow-x: hidden;
    }
    
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}




/* FRONT PAGE CODE */

.title-pic{
    max-width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    z-index: 1;
}

.hospital-smallscreen{
    display: none;
}

.hospital-bigscreen{
    width: 100%;
    object-fit: contain;
    display: block;
    filter: brightness(30%);
}

.pic-text-bigscreen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    mix-blend-mode: lighten;
    color: rgb(200, 176, 176);
    font-size: 55px;
    font-family: arial black;
}

.pic-text-smallscreen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    mix-blend-mode: lighten;
    color: rgb(200, 176, 176);
    font-size: 30px;
    font-family: arial black;
    display: none;
}

@media screen and (max-width:950px){
    .hospital-smallscreen{
        width: 100%;
        object-fit: contain;
        display: block;
        filter: brightness(30%);
        
    }

    .pic-text-smallscreen{
        display: block;
    }

    .pic-text-bigscreen{
        display: none;
    }

    .hospital-bigscreen{
        display: none;
    }
}


@media screen and (min-width: 950px) and (max-width:1024px){

    .hospital-smallscreen{
        display: none;
    }

}


.pic-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    mix-blend-mode: lighten;
    color: rgb(200, 176, 176);
    font-size: 60px;
    font-family: arial black;


}

.pledge-div{
    padding: 8%;
    align-items: center;
    text-align: center;
}

.pledge-header{
    text-align: center;
    font-size: 45px;
    color: white;
}

.form{
    text-decoration: none;
    color: #37474f;
    font-weight: bold;

}
.form:hover {
    cursor: pointer;
    border-bottom: 5px solid #37474f;
  }
  









  .foot{
      background-color: #37474f;
      text-align: center;
      padding: 4%;
  }

  .last-words{
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: #37474f;
  }

  .email{
    text-align: center;
    font-size: 16px;
    color:  #e06666;
    background-color: #37474f;
  }